.digital_clock{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border: 3px solid #00ffff;
    color: #00ffff;
    width: 340px;
    padding: 20px;
    border-radius: 40px;
    transition: 0.5s;
}

.digital_clock:hover{
    background-color: #00ffff;
    color: black;
    box-shadow: 0,0 30px #00ffff;
}

.time{
    text-align: center;
}

.day{text-align: center;}








.clock{
    width: 350px;
    height: 350px;
    background-color: black(255,255,255,.8);
    border-radius: 50%;
    border: 5px solid whitesmoke;
    position: relative; 
    display: flex;
}

.clock span{
    position: absolute;
    inset: 12px;
    text-align: center;
    color: white;
    transform: rotate(calc(30deg*var(--i)));
}

.clock label{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 20px;
}

.special{
    font-weight: bold;
    color:blueviolet
}

.clock .hand{
    --rotation:0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    background-color:black;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10; 
    transform-origin: bottom; 
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg)); 
}


.clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute {
width: 7px;
height: 40%;    
background-color: whitesmoke;
}

.clock .hand.hour {
width: 10px;
height: 30%;
background-color: gray;
}


.clock::after{
    content: '';
    position: absolute;
    background-color: whitesmoke;
    z-index: 11; 
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid red;
}

body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    overflow: hidden; 
}


.link1{
    position: absolute;
    top:0;
    left:0;
    width: 100px;
    color: #00ffff;
    font-size: 12px;
    background-color: black;
}
