body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    overflow: hidden; 
}

.countdown{
    height: 500px;
    width: 900px;
    background-color: black;
    margin: 0 auto;
    border: 7px solid #00ffff;
    border-radius: 40px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

label{
  margin: 0;
  justify-self: center;
  align-self: center;
  font-size: 30px;
  color: #00ffff;
}
#hrtext{
    grid-area: 1/2/1/3;
}

#mintext{
    grid-area: 1/3/1/4;
}

#sectext{
    grid-area:1/4/1/5 ;
}

input{
    text-align: center;
    color: lightgreen;
    background-color: black;
    font-size: 40px;
    border:5px solid lightgreen;
}

#hours{
    grid-area: 2/2/2/3;
    
}
#minutes{
    grid-area: 2/3/2/4;
}
#seconds{
    grid-area: 2/4/2/5;
}

.point{
   justify-self: center;
   align-self: center;
   font-size: 30px;
   margin: 0;
   color: lightgreen;
}

#p1{
    grid-area: 1/2/2/4;
}

#p2{
    grid-area: 1/3/2/5;
}

button{
    width: 100px;
    align-self: center;
    color: #00ffff;
    background-color: black;
    font-size: 30px;
    justify-self: center;
}

#start{
    grid-area: 3/2/3/4;
}

#stop{
    grid-area: 3/3/3/5;
}

